html, body {
    height: 100%;
}

h1 {
    color: #2176FF;
}
body {
    background-color:#F0F0F0;
    padding: 2em;
    font-family: 'Raleway','Source Sans Pro', 'Arial';
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 100%;
    background-color: #31393C;
}

button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
}

#star_list{
    width: 30%;
    height: 30%;
    list-style: none;
    background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}