@font-face {
    font-family: masseffect;
    src: url('./fonts/me123.ttf');
}
html, body {
    height: 100%;
}

h1 {
    color: #FFF;
    font-family: masseffect;
}

a {
    text-decoration: none;
    color: #BC3E3E;
}
body {
    font-family: masseffect;
    color: #fff;
    background-image: url('./img/universe.jpg');
    background-size: cover;
    padding: 2em;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

button {
    margin: 2em 0;
    padding: 1em 4em;
    display:block;
}

#star_list{
    width: 33%;
    height: 30%;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

#list_title {
    margin-bottom: 10px;
}
.star_id {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    min-height: 50px;
    width: 250px;
    background-color: #f8eded;
    text-align: center;
    border: 1px solid #000;
}

.button_link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.button_link:hover {
    background-color: #BC3E3E;
    color: #f8eded;
}

.row {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;

}

#star_info{
    width:33%;
    height: 50%;

}

#star_story{
    text-align: justify;
}

.red-text {
    color: #BC3E3E;
}

#new_star_menu{
    width: 33%;
    margin-left: 35px;
}

.form_row {
    width: 100%;
    display: flex;
    text-align: left;
    margin-bottom: 15px;
}

.form_label {
    width: 50%;
}

input {
    height: 20px;
}

.form_row_textarea {
    width: 100%;
}

#star_story_input {
    width: 80%;
    height: 250px;
}

.spinner {
    left: 50%;
    width: 40px;
    height: 40px;
    display: none;
}

.double-bounce1, .double-bounce2 {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.6;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
  }
  
  @keyframes sk-bounce {
    0%, 100% { 
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    } 50% { 
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }

  #create_star_button {
      font-family: masseffect;
      background-color: #FFF;
      border: 1px solid #000;
  }